<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asen311.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="Test Broadcast receivers ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadCastRecievers.BroadcastReceiverA"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BroadcastReceiverA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadCastRecievers.BroadcastReceiverB"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BroadcastReceiverB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadCastRecievers.BroadcastReceiverC"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BroadcastReceiverC" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadCastRecievers.BroadcastReceiverOrientationPortain"
            android:enabled="true"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BroadcastReceiver_PORTRAIT" />
                </intent-filter>
        </receiver>


        <receiver
            android:name=".broadCastRecievers.BroadcastReceiverOrientationLandscape"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BroadcastReceiver_LANDSCAPE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>